# {{ansible_managed}}
[nexus-centos-repo]
name=Nexus Repository
baseurl=http://{{ repository_proxy_url }}:{{ repository_proxy_port }}/repository/a-yum-centos/$releasever/os/$basearch/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

[nexus-centos-extras]
name=CentOS-$releasever - Extras
baseurl=http://{{ repository_proxy_url }}:{{ repository_proxy_port }}/repository/a-yum-centos/$releasever/extras/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

[nexus-centos-updates]
name=CentOS-$releasever - Updates
baseurl=http://{{ repository_proxy_url }}:{{ repository_proxy_port }}/repository/a-yum-centos/$releasever/updates/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

[nexus-fedora-epel]
name=Extra Packages for Enterprise Linux 7 - $basearch
baseurl=http://{{ repository_proxy_url }}:{{ repository_proxy_port }}/repository/a-yum-fedora-epel/7/$basearch
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7

[nexus-docker-ce-stable]
name=Docker CE Stable - $basearch
baseurl=http://{{ repository_proxy_url }}:{{ repository_proxy_port }}/repository/a-yum-download-docker/7/$basearch/stable
enabled=1
gpgcheck=1
gpgkey=http://{{ repository_proxy_url }}:{{ repository_proxy_port }}/repository/a-store-docker-gpg/gpg
